/*GENERAL*/
body
{
  background-color: #fffde8;
}

/*Les polices*/
.anton
{
  font-family: 'Anton', sans-serif;
}

.pacifico
{
  font-family: 'Pacifico', cursive;
}

.alexbrush
{
  font-family: 'Alex Brush', bold;
}

.text-marron
{
  color:#7e6752;
}

/*navbar*/

.backfont
{
  background-color: #fffde8;
  color: #7e6752;
  font-family: 'Pacifico', cursive;

}

#logo
{
  font-family: 'Alex Brush', bold;
  font-size: 30px;
}

.menucolor
{
  color: #7e6752!important;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.menucolor:hover
{
  color: black!important;
  font-family: 'Pacifico', cursive;
}

.favoritecolorlink
{

  font-family: 'Anton', sans-serif;
}

.logo
{
  font-family: 'Alex Brush', bold;

}

.buttonsearch
{
  font-family: 'Pacifico', cursive;
}

.bg-beige
{
  background-color: #f4eec0;
}

/*Le Caroussel*/

.btn
{
  background-color: #f4eec0;
  color: #7e6752;
  border: 1px solid #7e6752;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Anton', sans-serif;
}

.btn:hover
{
  background-color: #7e6752;
  color: #f4eec0;
  border: 1px solid #f4eec0;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Anton', sans-serif;
}

/*Les flèches dans le Carrousel*/

.arrowcarousel
{
  color: #f4eec0;
}

/*le titre dans le Carrousel*/

.textcarousel
{
  font-family: 'Anton', sans-serif;
  color: #f4eec0;
}

/*la flèche de défilement*/

.arrow{
  animation: animate 2s infinite;
  color:#7e6752;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate() translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate() translate(20px,20px);
  }
}

/* La partie Paul*/

h1
{
  font-size: 25px;
  color: #f4eec0;
  font-family: 'Pacifico', cursive;
}

.bloctitle
{
  background-color: #7e6752;
}

.speechpaul
{
  padding: 20px 20px 20px 20px;
  box-shadow: 8px 12px 10px #7e6752;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.photopaul
{
  margin-bottom:  50px;
  margin-top: -10px;
}

/*Footer*/

.page-footer
{
  background-color: #7e6752;
}

.footerlink
{
  color: #f4eec0;
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}

.footertext
{
  color: #f4eec0;
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}

.footerlink:hover
{
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}

.line
{
  font-size: 18px;
}

h6
{
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
}

hr
{
  border: 2px solid #f4eec0;
}

/* Css touchant au design */

.bg-marron{
  background-color:#7E6752;
}


.text-beige{
  color:#F4EEC0;
}

/* css modifiant les listes */

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color:#7E6752;
  color:#F4EEC0;
  border: 1px solid rgba(0, 0, 0, .125);
  margin-right:1rem;
  margin-left:1rem;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  margin-top:1rem;

}

/* Css touchant au slide horizontal */

#secondSlide, #thirdSlide {
  display: none;
}

@media screen and (max-width:767px){
    #tendancies{
      display:none;
    }
}

/* Css de Yoan */

@media (max-width: 570px) {
  div.specProduct {
    font-size: 3vw;
  }

  input.nbInput {
    width: 18vw;
  }
}

@media (min-width: 571px) and (max-width: 768px) {
  div.specProduct {
    font-size: 2vw;
  }

  input.nbInput {
    width: 10vw;
  }
}


.specProduct {
  font-size: 1.2vw;
}

img.imgModal {
  width: 75%;
  height: auto;
  padding: 0;
  margin: 0;
}

.nbInput {
  width: 6vw;
}

i.fa-times {
  cursor: pointer;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem
}
