#secondSlide, #thirdSlide {
  display: none;
}

.bg-marron{
  background-color:#7E6752;
}
.text-marron{
  color:#7E6752;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color:#7E6752;
  color:#F4EEC0;
  border: 1px solid rgba(0, 0, 0, .125);
  margin-right:1rem;
  margin-left:1rem;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  margin-top:1rem;

}

.bg-beige{
  background-color:#F4EEC0;
}

.text-beige{
  color:#F4EEC0;
}

@media screen and (max-width:767px){
    #tendancies{
      display:none;
    }
}
