/*GENERAL*/
body
{
  background-color: #fffde8;
}

/*Les polices*/
.anton
{
  font-family: 'Anton', sans-serif;
}

.pacifico
{
  font-family: 'Pacifico', cursive;
}

.alexbrush
{
  font-family: 'Alex Brush', bold;
}

.text-marron
{
  color:#7e6752;
}

/*Animation de transition*/
/*Le delais d'exécution pour les animation fade in*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
/*=== FADE IN LEFT ===*/
.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/*navbar*/

.backfont
{
  background-color: #fffde8;
  color: #7e6752;
  font-family: 'Pacifico', cursive;

}

#logo
{
  font-family: 'Alex Brush', bold;
  font-size: 30px;
}

.menucolor
{
  color: #7e6752!important;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.menucolor:hover
{
  color: black!important;
  font-family: 'Pacifico', cursive;
}

.favoritecolorlink
{

  font-family: 'Anton', sans-serif;
}

.logo
{
  font-family: 'Alex Brush', bold;

}

.buttonsearch
{
  font-family: 'Pacifico', cursive;
}

.bg-beige
{
  background-color: #f4eec0;
}

/*Le Caroussel*/

.btn
{
  background-color: #f4eec0;
  color: #7e6752;
  border: 1px solid #7e6752;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Anton', sans-serif;
}

.btn:hover
{
  background-color: #7e6752;
  color: #f4eec0;
  border: 1px solid #f4eec0;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Anton', sans-serif;
}

/*Les flèches dans le Carrousel*/

.arrowcarousel
{
  color: #f4eec0;
}

/*le titre dans le Carrousel*/

.textcarousel
{
  font-family: 'Anton', sans-serif;
  color: #f4eec0;
}

/*la flèche de défilement*/

.arrow{
  animation: animate 2s infinite;
  color:#7e6752;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate() translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate() translate(20px,20px);
  }
}

/* La partie Paul*/

h1
{
  font-size: 25px;
  color: #f4eec0;
  font-family: 'Pacifico', cursive;
}

.bloctitle
{
  background-color: #7e6752;
}

.speechpaul
{
  padding: 20px 20px 20px 20px;
  box-shadow: 8px 12px 10px #7e6752;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.photopaul
{
  margin-bottom:  50px;
  margin-top: -10px;
}

/*Footer*/

.page-footer
{
  background-color: #7e6752;
}

.footerlink
{
  color: #f4eec0;
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}

.footertext
{
  color: #f4eec0;
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}

.footerlink:hover
{
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}

.line
{
  font-size: 18px;
}

h6
{
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
}

hr
{
  border: 2px solid #f4eec0;
}
